'fileTypes': [
  'gwd'
]
'name': 'Gitwig Drum Track'
'scopeName': 'source.gwd'
'patterns': [
  {
    'match': '([.,\\s]+)(.+):(\\d+)'
    'captures':
      '1':
        'name': 'constant.numeric.integer.hexadecimal.python'
      '2':
        'name': 'markup.heading.gfm'
      '3':
        'name': 'constant.string.python'
  }
]
