'fileTypes': [
  'gwd'
]
'name': 'Gitwig Drum Track'
'scopeName': 'source.gwd'
'patterns': [
  {
    'match': '([.,\\s]+)(.+):(\\d+)'
    'captures':
      '1':
        'name': 'constant.numeric.integer.hexadecimal.python'
      '2':
        'name': 'markup.heading.gwm'
      '3':
        'name': 'constant.string.python'
  }
  {
    'begin': '#'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.gwd'
    'end': '$\\n?'
    'name': 'comment.line.percentage.semicolon.gwd'
  }
]
